header {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 35px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  border-bottom: 12px solid var(--secondary);
  top: 0;
  top: 0;
  background-color: var(--primary);
  width: 100vw;
  /*background-image: url("../../img/Fitness_Roads_Run_502738_3840x2400.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;*/
}
header h1 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  color: var(--font);
  line-height: 1.25;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 330px;
}

li {
    overflow: hidden;
    background-color: #38302e;
    display: inline-block;
  }
  .navigate{
      margin-right: 20%;
      float: left;
      /* width: 100%; */
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #E4f9FF;
    color:#38302e ;
  }
  
  .active {
    background-color: rgba(252, 56, 89, 0.8);
  }

  footer{
    text-align: center;
    bottom: 10px;
    position: absolute;
    width: 100%;
}