li {
    overflow: hidden;
    background-color: #38302e;
    display: inline-block;
  }
  .navigate{
      margin-right: 20%;
      float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #E4f9FF;
    color:#38302e ;
  }
  
  .active {
    background-color: rgba(252, 56, 89, 0.8);
  }

  footer{
    text-align: center;
    bottom: 10px;
    position: absolute;
    width: 100%;
}