root {
--primary: #384f5b;
--secondary: #f69c20;
--tertiary: #7e939f;
--font: #E4F9FF;
--background: #e5e5e5;
--border-radius: .3rem;
}

.navigate{
margin-right: 0;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-container h2 {
    color: var(--primary);
    font-size: 27px;
    font-weight: 600;
    margin-left: 20px;
    border-bottom: 2px solid var(--primary);
}

.createFolder,
.weather-div,
.songList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background-color: var(--background);
    color: var(--primary);
    padding: 20px;
    width: auto;
    margin: 3.5%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    border-radius: 15px;
}

#weather-container {
    margin: 0 40px 0 20px;
    box-shadow: none;
    max-width: fit-content;
}

#weather-container h2 {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}

#weather-container p {
    font-size: 15px;
    font-weight: 100;
}

.songList {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
    max-height: 450px;
    width: 450px;
    text-align: start;
}

.songList p {
    display: block;
}

.selectclass {
    border: 1px solid var(--primary);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--primary);
    width: max-content;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

.selectclass:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

.inputclass {
    margin-right: 10px;
}

.folder{
display: flex;
width: max-content;
text-align:center;
margin-right: 10px;
margin-bottom: 1px;
}

.folderName,
.locationText {
    border: 1px solid var(--primary);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--primary);
    width: max-content;
    margin-bottom: 15px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}    

.folderName:focus,
.locationText:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

footer{
text-align: center;
bottom: 10px;
width: 100%;
}