root {
--primary: #384f5b;
--secondary: #f69c20;
--tertiary: #7e939f;
--font: #E4F9FF;
--background: #e5e5e5;
--border-radius: .3rem;
}

li {
overflow: hidden;
background-color: #38302e;
display: inline-block;
}
.navigate{
margin-right: 20%;
float: left;
}
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #E4f9FF;
color:#38302e ;
}

.active {
background-color: rgba(252, 56, 89, 0.8);
}

.createFolder{
float: right;
right: 5px;
border: 2px solid #7e939f;
border-radius: 12px;
padding:20px;
}
.addFolder{
margin-right: 20px;
margin-bottom: 20px;
margin-top: 20px;
background-color: rgba(252, 56, 89, 0.8);
color: white;
}
.folder{
flex: left;
position: static;
width:200px;
text-align:center;
display:block;
margin-right: 10px;
margin-bottom: 1px;
}
.songList{
position: absolute;
right: 5px;
top:200px;
border: 2px solid #7e939f;
border-radius: 15px;
padding: 25px;
width: 500px;
}
#displaySong{
color: #7e939f;
font-size: larger;
}

footer{
text-align: center;
bottom: 10px;
width: 100%;
}