:root{
--genre-background-color:lightblue;
--genre-text-color:darkblue;
--genre-hover-background:white;
--genre-hover-text:lightblue;
}

.search{
outline:none;
font-size: 14px;
font-weight:700;
margin:0px;
}
div{
    position: relative;
    display: table-cell;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}
.genereoption{
background-color: var(--genre-background-color);
color: var(--genre-text-color);
}


