:root {
    --primary: #E4f9FF;
    --secondary: #12CAD6;
    --tertiary: #0FABBC;
    --bright: #FA1616;
    --dark: #38302e;
    --border-radius: .3rem;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }

  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
  }


  .logo {
      display: flex;
      justify-content: center;
      margin-right: 40px;
      width: 75px;
      height: 75px;
  }

 .hero-container {
    background-image: url("../../img/Fitness_Roads_Run_502738_3840x2400.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 100%; 
    width: 100vw;
    height: 100vh;
 }


 header {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 35px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../../img/Fitness_Roads_Run_502738_3840x2400.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
 }

 header h1 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    color: var(--primary);
    line-height: 1.25;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(56, 48, 46, 0.3);
    border-radius: 15px;
    width: 330px;
 }
  
  p {
    font-size: 1.2rem;
  }

  
.cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: var(--primary);
    font-size: 18px;
    line-height: 1.2;
    background-color: rgba(56, 48, 46, 0.3);
    border-radius: 15px;
    height: 200px;
    width: 600px;
    padding-right: 20px;
}

.cta h2 {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-size: 55px;
    color: var(--primary);
}

.cta p {
    padding-top: 20px;
}

.parameter-form {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid var(--dark);
    background-color: rgba(252, 56, 89, 0.8);
    color: var(--dark);
    padding: 20px;
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;

}

.parameter-form h3 {
    font-size: 24px;
    margin: 0;
}

.parameter-form p {
    display: block;
    margin: 5px 0 15px 0;
}

.parameter-form form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.search {
    border: 1px solid var(--dark);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--dark);
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

.search:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

.searchBtn {
    color: var(--dark);
    background-color: var(--tertiary);
    border: 1px solid var(--dark);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    width: 100px;
    transition: all 0.3s ease;
}

.searchBtn:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

div{
    position: relative;
    display: table-cell;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}
.genereoption{
background-color: var(--genre-background-color);
color: var(--genre-text-color);
border-radius: 12px;
}


.genereoption:hover{
    background-color:var(--genre-hover-background);
    color: var(--genre-hover-text);
    border-radius: 12px;
}
